.search {
    position: relative;
    bottom: 30rem;
}

.blocks {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40rem;
    height: 30rem;
    border: 4px double black;
}

.block {
    background-color: blanchedalmond;
    border: 4px double black;
    width: 10rem;
    height: 10rem;
}